In [1]:
import pandas as pd

## 데이터 가져오기
- 서울시 사업체 종사사수 : https://data.seoul.go.kr/dataList/10598/S/2/datasetView.do
- 서울시 인구밀도 : https://data.seoul.go.kr/dataList/10584/S/2/datasetView.do
- 서울시 주민등록인구 : https://data.seoul.go.kr/dataList/10727/S/2/datasetView.do
- 서울시 유동인구 :  https://data.seoul.go.kr/dataVisual/seoul/seoulLivingPopulation.do

- 모든데이터는 자세하게 '동' 까지나와있어 필요한 데이터는 '구'이기때문에
- 모든데이터는 엑셀에서 1차 수기로 뽑아왔고
- python 으로 2차 전처리

## 데이터 전처리

### 수기로 뽑아온 '주민등록상' 구별 인구 데이터 전처리

In [71]:
pop = pd.read_csv('주민등록상 구별 인구.csv',encoding='utf8')

In [72]:
pop1=pop

- 데이터 타입을 바꿀려고보니 str값인데 ',' 가 들어있어서 한번에 바뀌지않아 
- ',' 제거후 데이터타입을 변경

In [73]:
pop1['10-14']=pop1['10~14세'].str.replace(',', '')
pop1['15-19']=pop1['15~19세'].str.replace(',', '')
pop1['20-24']=pop1['20~24세'].str.replace(',', '')
pop1['25-29']=pop1['25~29세'].str.replace(',', '')
pop1['30-34']=pop1['30~34세'].str.replace(',', '')
pop1['35-39']=pop1['35~39세'].str.replace(',', '')
pop1['40-44']=pop1['40~44세'].str.replace(',', '')
pop1['45-49']=pop1['45~49세'].str.replace(',', '')
pop1['50-54']=pop1['50~54세'].str.replace(',', '')
pop1['55-59']=pop1['55~59세'].str.replace(',', '')
pop1['60-64']=pop1['60~64세'].str.replace(',', '')
pop1['65-69']=pop1['65~69세'].str.replace(',', '')
pop1=pop1.drop(pop1.columns[:13],axis=1)
pop1=pop1.astype('int64')

In [9]:
pop1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   10-14   25 non-null     int64
 1   15-19   25 non-null     int64
 2   20-24   25 non-null     int64
 3   25-29   25 non-null     int64
 4   30-34   25 non-null     int64
 5   35-39   25 non-null     int64
 6   40-44   25 non-null     int64
 7   45-49   25 non-null     int64
 8   50-54   25 non-null     int64
 9   55-59   25 non-null     int64
 10  60-64   25 non-null     int64
 11  65-69   25 non-null     int64
dtypes: int64(12)
memory usage: 2.5 KB

- 다른 인구 데이터에 칼럼값을 통일시 키기위해 세분화된 나이영역을 통합

In [74]:
pop1['10-19']=pop1['10-14']+pop1['15-19']
pop1['20-29']=pop1['20-24']+pop1['25-29']
pop1['30-39']=pop1['30-34']+pop1['35-39']
pop1['40-49']=pop1['40-44']+pop1['45-49']
pop1['50-59']=pop1['50-54']+pop1['55-59']
pop1['60-69']=pop1['60-64']+pop1['65-69']
pop1=pop1.drop(pop1.columns[:12],axis=1)
pop1

    10-19   20-29   30-39   40-49   50-59  60-69
0   10960   27350   20884   22241   25893  20672
1    7050   21310   21792   18802   21480  18445
2   15945   35278   41482   37025   38249  29749
3   19350   46682   48399   44403   47288  37917
4   25524   66832   56904   52092   55974  44623
5   23447   65152   50964   50062   53325  47683
6   25888   55940   58127   56659   68661  60625
7   36875   71087   60461   68783   69821  56906
8   21147   42624   38185   44965   52147  47373
9   24635   42654   39931   46911   56333  51179
10  51123   72675   64090   82946   87438  70475
11  37637   66711   67974   74964   77760  66850
12  23354   54509   45984   46687   49406  40092
13  28268   65877   65916   61312   55772  41327
14  49723   58582   56836   77664   76938  60302
15  43814   87251   99453   90621   85586  79516
16  30110   55896   65772   65942   70754  60052
17  14566   38127   38697   34488   44330  35900
18  24600   60777   73632   59888   64704  50805
19  27511   68774   62621   58581   59731  51122
20  28013  112036   88430   68036   70377  61142
21  44977   53696   61568   76595   63288  48413
22  59329   72825   79755   98729   81736  61276
23  57822   92348  108832  108368  102657  87422
24  39094   61806   72705   75625   72766  66528

### 수기로 뽑아온 구별 '유동인구' 데이터 전처리

In [75]:
pop2 = pd.read_csv('유동인구.csv')

- 한달치 데이터이기때문에 앞선 교통데이터와 마찬가지로 
- 하루치 평균에대한 결과값을 얻고싶기때문에 데이터를 30으로 나눔

In [76]:
pop3=pop2.iloc[:,1:]/30

- 보기깔끔하게하기위해 불필요한 실수형을 정수형으로

In [77]:
# for문돌리면 더깔끔한 코드 나올것같긴한데 어떻게 짜야할지 명확하게 안옵니다.
pop3=pop3.astype({'10~20M':'int','10~20W':'int',
                '20~29M':'int','20~29W':'int',
                '30~39M':'int','30~39W':'int',
                '40~49M':'int','40~49W':'int',
                '50~59M':'int','50~59W':'int',
                '60~69M':'int','60~69W':'int', })

In [18]:
pop3

,10~20M,10~20W,20~29M,20~29W,30~39M,30~39W,40~49M,40~49W,50~59M,50~59W,60~69M,60~69W
0,13398,16749,43081,63599,49307,50362,58897,46996,61607,50912,49620,39426
1,9150,11658,44805,62771,64904,63158,71794,53500,66961,53909,47329,42096
2,12879,12299,3988,51085,50677,49851,51137,39043,44091,37556,31703,28046
3,15598,17374,44158,54079,45832,46133,51172,39914,49735,43823,39375,33672
4,20875,22288,49064,59877,40838,42419,45819,40701,50474,50732,41374,39824
5,16533,17210,39072,47991,34187,31933,43863,34104,49805,44001,46891,40188
6,15372,15769,25782,28330,29670,30494,38310,33417,48250,51197,44736,42474
7,27549,28296,40530,50045,33966,37366,45860,44667,50636,53043,42350,42586
8,14654,14562,22590,25604,21189,22050,31223,29132,37481,42405,35236,37291
9,13691,12807,17273,18891,19030,19669,28167,25370,35683,39808,36798,35661
10,39595,37099,40084,42317,35493,39708,52980,56306,62994,71694,55885,58098
11,24827,24684,28580,33485,33808,38824,46617,45690,51943,58912,48291,50103
12,19216,21921,41525,57971,36352,39947,43363,39460,43971,44874,34378,34175
13,26545,32744,71603,107404,68991,74187,72093,59602,60502,55297,43237,41302
14,32760,30609,24756,27335,29501,33092,46137,46064,48022,50751,39927,40583
15,27507,26448,47811,58576,68227,65785,7872,60312,73156,68409,63272,58845
16,15843,15590,32949,36679,48056,44062,57454,43248,58878,52974,49257,43074
17,7593,7956,24043,25030,34379,25534,37842,23483,38634,30838,28740,22713
18,20432,19859,57356,71457,86280,78490,90679,63016,85788,68969,61287,52634
19,18478,17737,41119,44428,36799,36583,40313,37030,43329,46106,38837,40953
20,18547,19217,66824,69513,53613,44508,46985,37730,51464,49227,44541,42751
21,36107,36583,57356,78118,83458,85873,108943,87996,98029,83009,71838,66850
22,62916,61653,104442,154024,148303,148443,171140,130944,136695,110019,94268,87128
23,49596,50772,69933,87624,93987,100491,112573,99739,109885,108099,92178,93104
24,37566,31624,36251,40657,47417,52320,62027,60873,69137,73214,65134,68453

### 수기로 뽑아온 구별 근무자수

In [78]:
pop4 = pd.read_csv('구별 근무자수.csv')

In [48]:
pop4

      gu  total worker  company  m-worker  w-worker  residents
0    종로구        260446    39679    146392    114054     128000
1     중구        392568    60127    213484    179084     100444
2    용산구        135240    20254     74570     60670     185160
3    성동구        178243    28343    102769     75474     244039
4    광진구        126305    24445     67899     58406     290400
5   동대문구        138400    31324     73067     65333     277259
6    중랑구        103345    28228     53185     50160     321679
7    성북구        111005    23617     54975     56030     355203
8    강북구         73904    19014     34134     39770     243280
9    도봉구         72939    18628     37598     35341     259746
10   노원구        116684    26618     54993     61691     424914
11   은평구         93631    24681     43830     49801     388279
12  서대문구        113819    20095     55966     57853     250375
13   마포구        247276    37290    132558    114718     309370
14   양천구        121582    25894     63099     58483     377003
15   강서구        257494    39458    142209    115285     481253
16   구로구        225668    38756    128722     96946     325696
17   금천구        242686    33814    150589     92097     193080
18  영등포구        373478    42370    217650    155828     312133
19   동작구        106159    19793     52297     53862     319754
20   관악구        115329    25505     59684     55645     415287
21   서초구        438985    46940    261147    177838     345093
22   강남구        698840    71027    387884    310956     453650
23   송파구        341201    48644    202213    138988     525189
24   강동구        141770    29080     74700     67070     384921

### 수기로 뽑아온 구별 면적

In [79]:
pop5 = pd.read_csv('구별 면적.csv')

In [49]:
pop5

      gu   area
0    종로구  23.91
1     중구   9.96
2    용산구  21.87
3    성동구  16.86
4    광진구  17.06
5   동대문구  14.22
6    중랑구  18.50
7    성북구  24.58
8    강북구  23.60
9    도봉구  20.65
10   노원구  35.44
11   은평구  29.71
12  서대문구  17.63
13   마포구  23.85
14   양천구  17.41
15   강서구  41.44
16   구로구  20.12
17   금천구  13.02
18  영등포구  24.55
19   동작구  16.35
20   관악구  29.57
21   서초구  46.98
22   강남구  39.50
23   송파구  33.87
24   강동구  24.59

- 구별 인구 밀도를 구하기 위해 구별 인구수와 데이터합치기

In [80]:
concat_df=pd.concat([pop5,pop1],axis=1)
concat_df

      gu   area  10-19   20-29   30-39   40-49   50-59  60-69
0    종로구  23.91  10960   27350   20884   22241   25893  20672
1     중구   9.96   7050   21310   21792   18802   21480  18445
2    용산구  21.87  15945   35278   41482   37025   38249  29749
3    성동구  16.86  19350   46682   48399   44403   47288  37917
4    광진구  17.06  25524   66832   56904   52092   55974  44623
5   동대문구  14.22  23447   65152   50964   50062   53325  47683
6    중랑구  18.50  25888   55940   58127   56659   68661  60625
7    성북구  24.58  36875   71087   60461   68783   69821  56906
8    강북구  23.60  21147   42624   38185   44965   52147  47373
9    도봉구  20.65  24635   42654   39931   46911   56333  51179
10   노원구  35.44  51123   72675   64090   82946   87438  70475
11   은평구  29.71  37637   66711   67974   74964   77760  66850
12  서대문구  17.63  23354   54509   45984   46687   49406  40092
13   마포구  23.85  28268   65877   65916   61312   55772  41327
14   양천구  17.41  49723   58582   56836   77664   76938  60302
15   강서구  41.44  43814   87251   99453   90621   85586  79516
16   구로구  20.12  30110   55896   65772   65942   70754  60052
17   금천구  13.02  14566   38127   38697   34488   44330  35900
18  영등포구  24.55  24600   60777   73632   59888   64704  50805
19   동작구  16.35  27511   68774   62621   58581   59731  51122
20   관악구  29.57  28013  112036   88430   68036   70377  61142
21   서초구  46.98  44977   53696   61568   76595   63288  48413
22   강남구  39.50  59329   72825   79755   98729   81736  61276
23   송파구  33.87  57822   92348  108832  108368  102657  87422
24   강동구  24.59  39094   61806   72705   75625   72766  66528

- 전체인구수 구하기

In [81]:
concat_df['Totalpop']=concat_df.iloc[:,2:].sum(axis=1)

- 인구밀도  = 전체인구수/지역면적(단위 km^2)

In [82]:
concat_df['density']=(concat_df['Totalpop']/concat_df['area']).astype('int')

In [83]:
concat_df=concat_df.drop(concat_df.iloc[:,2:8],axis=1)
concat_df

      gu   area  Totalpop  density
0    종로구  23.91    128000     5353
1     중구   9.96    108879    10931
2    용산구  21.87    197728     9041
3    성동구  16.86    244039    14474
4    광진구  17.06    301949    17699
5   동대문구  14.22    290633    20438
6    중랑구  18.50    325900    17616
7    성북구  24.58    363933    14806
8    강북구  23.60    246441    10442
9    도봉구  20.65    261643    12670
10   노원구  35.44    428747    12097
11   은평구  29.71    391896    13190
12  서대문구  17.63    260032    14749
13   마포구  23.85    318472    13353
14   양천구  17.41    380045    21829
15   강서구  41.44    486241    11733
16   구로구  20.12    348526    17322
17   금천구  13.02    206108    15830
18  영등포구  24.55    334406    13621
19   동작구  16.35    328340    20081
20   관악구  29.57    428034    14475
21   서초구  46.98    348537     7418
22   강남구  39.50    453650    11484
23   송파구  33.87    557449    16458
24   강동구  24.59    388524    15800

### 모든데이터 합치기

- pop4 = 구별 근무자수 / pop1= 구별 나이별 인구수 / pop3 = 구별 나이별 유동인구

In [84]:
concat_df2=pd.concat([pop4,pop1,pop3],axis=1)
concat_df2

,gu,total worker,company,m-worker,w-worker,10-19,20-29,30-39,40-49,50-59,...,20~29M,20~29W,30~39M,30~39W,40~49M,40~49W,50~59M,50~59W,60~69M,60~69W
0,종로구,260446,39679,146392,114054,10960,27350,20884,22241,25893,...,43081,63599,49307,50362,58897,46996,61607,50912,49620,39426
1,중구,392568,60127,213484,179084,7050,21310,21792,18802,21480,...,44805,62771,64904,63158,71794,53500,66961,53909,47329,42096
2,용산구,135240,20254,74570,60670,15945,35278,41482,37025,38249,...,3988,51085,50677,49851,51137,39043,44091,37556,31703,28046
3,성동구,178243,28343,102769,75474,19350,46682,48399,44403,47288,...,44158,54079,45832,46133,51172,39914,49735,43823,39375,33672
4,광진구,126305,24445,67899,58406,25524,66832,56904,52092,55974,...,49064,59877,40838,42419,45819,40701,50474,50732,41374,39824
5,동대문구,138400,31324,73067,65333,23447,65152,50964,50062,53325,...,39072,47991,34187,31933,43863,34104,49805,44001,46891,40188
6,중랑구,103345,28228,53185,50160,25888,55940,58127,56659,68661,...,25782,28330,29670,30494,38310,33417,48250,51197,44736,42474
7,성북구,111005,23617,54975,56030,36875,71087,60461,68783,69821,...,40530,50045,33966,37366,45860,44667,50636,53043,42350,42586
8,강북구,73904,19014,34134,39770,21147,42624,38185,44965,52147,...,22590,25604,21189,22050,31223,29132,37481,42405,35236,37291
9,도봉구,72939,18628,37598,35341,24635,42654,39931,46911,56333,...,17273,18891,19030,19669,28167,25370,35683,39808,36798,35661
10,노원구,116684,26618,54993,61691,51123,72675,64090,82946,87438,...,40084,42317,35493,39708,52980,56306,62994,71694,55885,58098
11,은평구,93631,24681,43830,49801,37637,66711,67974,74964,77760,...,28580,33485,33808,38824,46617,45690,51943,58912,48291,50103
12,서대문구,113819,20095,55966,57853,23354,54509,45984,46687,49406,...,41525,57971,36352,39947,43363,39460,43971,44874,34378,34175
13,마포구,247276,37290,132558,114718,28268,65877,65916,61312,55772,...,71603,107404,68991,74187,72093,59602,60502,55297,43237,41302
14,양천구,121582,25894,63099,58483,49723,58582,56836,77664,76938,...,24756,27335,29501,33092,46137,46064,48022,50751,39927,40583
15,강서구,257494,39458,142209,115285,43814,87251,99453,90621,85586,...,47811,58576,68227,65785,7872,60312,73156,68409,63272,58845
16,구로구,225668,38756,128722,96946,30110,55896,65772,65942,70754,...,32949,36679,48056,44062,57454,43248,58878,52974,49257,43074
17,금천구,242686,33814,150589,92097,14566,38127,38697,34488,44330,...,24043,25030,34379,25534,37842,23483,38634,30838,28740,22713
18,영등포구,373478,42370,217650,155828,24600,60777,73632,59888,64704,...,57356,71457,86280,78490,90679,63016,85788,68969,61287,52634
19,동작구,106159,19793,52297,53862,27511,68774,62621,58581,59731,...,41119,44428,36799,36583,40313,37030,43329,46106,38837,40953
20,관악구,115329,25505,59684,55645,28013,112036,88430,68036,70377,...,66824,69513,53613,44508,46985,37730,51464,49227,44541,42751
21,서초구,438985,46940,261147,177838,44977,53696,61568,76595,63288,...,57356,78118,83458,85873,108943,87996,98029,83009,71838,66850
22,강남구,698840,71027,387884,310956,59329,72825,79755,98729,81736,...,104442,154024,148303,148443,171140,130944,136695,110019,94268,87128
23,송파구,341201,48644,202213,138988,57822,92348,108832,108368,102657,...,69933,87624,93987,100491,112573,99739,109885,108099,92178,93104
24,강동구,141770,29080,74700,67070,39094,61806,72705,75625,72766,...,36251,40657,47417,52320,62027,60873,69137,73214,65134,68453

- concat_df2= 구별 근로자수 인구수 유동인구 / concat_df= 인구밀도

In [85]:
merge_df=pd.merge(concat_df2,concat_df,how='outer', on='gu')
merge_df

,gu,total worker,company,m-worker,w-worker,10-19,20-29,30-39,40-49,50-59,...,30~39W,40~49M,40~49W,50~59M,50~59W,60~69M,60~69W,area,Totalpop,density
0,종로구,260446,39679,146392,114054,10960,27350,20884,22241,25893,...,50362,58897,46996,61607,50912,49620,39426,23.91,128000,5353
1,중구,392568,60127,213484,179084,7050,21310,21792,18802,21480,...,63158,71794,53500,66961,53909,47329,42096,9.96,108879,10931
2,용산구,135240,20254,74570,60670,15945,35278,41482,37025,38249,...,49851,51137,39043,44091,37556,31703,28046,21.87,197728,9041
3,성동구,178243,28343,102769,75474,19350,46682,48399,44403,47288,...,46133,51172,39914,49735,43823,39375,33672,16.86,244039,14474
4,광진구,126305,24445,67899,58406,25524,66832,56904,52092,55974,...,42419,45819,40701,50474,50732,41374,39824,17.06,301949,17699
5,동대문구,138400,31324,73067,65333,23447,65152,50964,50062,53325,...,31933,43863,34104,49805,44001,46891,40188,14.22,290633,20438
6,중랑구,103345,28228,53185,50160,25888,55940,58127,56659,68661,...,30494,38310,33417,48250,51197,44736,42474,18.50,325900,17616
7,성북구,111005,23617,54975,56030,36875,71087,60461,68783,69821,...,37366,45860,44667,50636,53043,42350,42586,24.58,363933,14806
8,강북구,73904,19014,34134,39770,21147,42624,38185,44965,52147,...,22050,31223,29132,37481,42405,35236,37291,23.60,246441,10442
9,도봉구,72939,18628,37598,35341,24635,42654,39931,46911,56333,...,19669,28167,25370,35683,39808,36798,35661,20.65,261643,12670
10,노원구,116684,26618,54993,61691,51123,72675,64090,82946,87438,...,39708,52980,56306,62994,71694,55885,58098,35.44,428747,12097
11,은평구,93631,24681,43830,49801,37637,66711,67974,74964,77760,...,38824,46617,45690,51943,58912,48291,50103,29.71,391896,13190
12,서대문구,113819,20095,55966,57853,23354,54509,45984,46687,49406,...,39947,43363,39460,43971,44874,34378,34175,17.63,260032,14749
13,마포구,247276,37290,132558,114718,28268,65877,65916,61312,55772,...,74187,72093,59602,60502,55297,43237,41302,23.85,318472,13353
14,양천구,121582,25894,63099,58483,49723,58582,56836,77664,76938,...,33092,46137,46064,48022,50751,39927,40583,17.41,380045,21829
15,강서구,257494,39458,142209,115285,43814,87251,99453,90621,85586,...,65785,7872,60312,73156,68409,63272,58845,41.44,486241,11733
16,구로구,225668,38756,128722,96946,30110,55896,65772,65942,70754,...,44062,57454,43248,58878,52974,49257,43074,20.12,348526,17322
17,금천구,242686,33814,150589,92097,14566,38127,38697,34488,44330,...,25534,37842,23483,38634,30838,28740,22713,13.02,206108,15830
18,영등포구,373478,42370,217650,155828,24600,60777,73632,59888,64704,...,78490,90679,63016,85788,68969,61287,52634,24.55,334406,13621
19,동작구,106159,19793,52297,53862,27511,68774,62621,58581,59731,...,36583,40313,37030,43329,46106,38837,40953,16.35,328340,20081
20,관악구,115329,25505,59684,55645,28013,112036,88430,68036,70377,...,44508,46985,37730,51464,49227,44541,42751,29.57,428034,14475
21,서초구,438985,46940,261147,177838,44977,53696,61568,76595,63288,...,85873,108943,87996,98029,83009,71838,66850,46.98,348537,7418
22,강남구,698840,71027,387884,310956,59329,72825,79755,98729,81736,...,148443,171140,130944,136695,110019,94268,87128,39.50,453650,11484
23,송파구,341201,48644,202213,138988,57822,92348,108832,108368,102657,...,100491,112573,99739,109885,108099,92178,93104,33.87,557449,16458
24,강동구,141770,29080,74700,67070,39094,61806,72705,75625,72766,...,52320,62027,60873,69137,73214,65134,68453,24.59,388524,15800

## 전처리한 데이터 저장

In [86]:
merge_df.to_csv('인구데이터 전처리.csv',encoding='cp949')